# Ignorar dependencias
node_modules/

# Ignorar variables de entorno
.env

# Ignorar carpetas de producción
dist/
build/

# Ignorar archivos del sistema
.DS_Store

/backend/db.js/

/backend/wallet/

/backend/wallet/sqlnet.ora

