/* ==== Layout general de página ==== */
.calendario-page-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Tomará el 100% de la altura de .calendario-page */
  background: #ecf0f1;
  flex-grow: 1; /* Asegurar que crezca para llenar el espacio si es necesario */
  min-height: 0; /* Importante para flexbox en contenedores que crecen */
}

.calendario-page {
  display: flex;
  flex-direction: column;
  height: 100%; /* Tomará el 100% de la altura que le da el <main> del Layout */
  flex-grow: 1; /* Asegurar que crezca para llenar el espacio del <main> */
}

/* Título principal */
.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #2c3e50;
  text-align: center;
}

.page-title {
  margin: 1rem 0;
  font-size: 1.75rem;
  text-align: center;
  color: #2c3e50;
}
